<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>運営者情報</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header>
    <div class="header-logo"><a th:href="@{/}" class="logo-link">テック探求記</a></div>
    <nav>
        <ul class="header-ul" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
            <li class="header-li">
                <button id="toggle-dark-mode" style="padding: 8px 12px; border: none; background: none; cursor: pointer; font-size: 18px;">
                    🌙
                </button>
            </li>
            <li class="header-li"><a th:href="@{/}">ホーム</a></li>
            <li class="header-li"><a th:href="@{/about}">プロフィール</a></li>
            <li class="header-li"><a th:href="@{/contact}">お問い合わせ</a></li>
            <li class="header-li">
                <form action="/search" method="get" style="display: flex; align-items: center;">
                    <input type="search" name="q" placeholder="サイト内検索">
                    <button type="submit">検索</button>
                </form>
            </li>
        </ul>

    </nav>

</header>
<div class="wrapper">
    <main>
        <h1>運営者情報</h1>
        <img src="/images/aboutIMG.jpg" alt="高尾山" class="article__image">
        <p><br>はじめまして！このサイトを運営しているYと申します。<br>
            <br>
            社会人２年目のエンジニアで、趣味は読書と散歩です。<br>
            写真は高尾山に行った時のもので自然に触れることも大好きです。<br>
            <br>
            本ブログは業務や独学を通して得た知見を記事にまとめることで知識を体系化すること、それを共有することでどなたかのお役に立つことができればと思って始めました。<br>
            <br>
            IT技術への興味が強いのでインフラから開発、ハードなど分野問わず記事にしていきたいと思っています。<br>
            <br>
            本記事やサイトにご意見・ご感想等がございましたらお気軽にお問い合わせフォームからご連絡いただけると幸いです。<br>
            　<br>
            <br>
        </p>

    </main>
</div>
<footer class="footer">
    <div style="text-align:center">
        <p>© <span id="year"></span> tech-tanQ.</p>
    </div>
</footer>
<script src="/js/darkmode.js"></script>
</body>
</html>