<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Python Virtual Environments</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="header-logo"><a th:href="@{/}" class="logo-link">テック探求記</a></div>
    <nav>
        <ul class="header-ul" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
            <li class="header-li">
                <button id="toggle-dark-mode" style="padding: 8px 12px; border: none; background: none; cursor: pointer; font-size: 18px;">
                    🌙
                </button>
            </li>
            <li class="header-li"><a th:href="@{/}">ホーム</a></li>
            <li class="header-li"><a th:href="@{/about}">プロフィール</a></li>
            <li class="header-li"><a th:href="@{/contact}">お問い合わせ</a></li>
            <li class="header-li">
                <form action="/search" method="get" style="display: flex; align-items: center;">
                    <input type="search" name="q" placeholder="サイト内検索">
                    <button type="submit">検索</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<div class="toc-fixed">
    <nav class="toc">
        <button class="toc-toggle">−</button>
        <ul>
            <li><a href="#section0">0.はじめに</a></li>
            <li><a href="#section1">1.基本概要</a>
                <ul>
                    <li><a href="#section11">1.1.仮想環境とは</a></li>
                    <li><a href="#section12">1.2.仮想環境のしくみ</a></li>
                    <li><a href="#section13">1.3.仮想環境の種類</a></li>
                </ul>
            </li>
            <li><a href="#section2">2.構築方法</a>
                <ul>
                    <li><a href="#section21">2.1.macOS</a></li>
                    <li><a href="#section22">2.2.Windows</a></li>
                </ul>
            </li>
            <li><a href="#section3">3.さいごに</a></li>
        </ul>
    </nav>

</div>

<main class="article">
    <div class="wrapper">
        <article>
            <p id="date-display">2025/10/19</p>
            <h1>【Python】ゼロからわかる仮想環境</h1>
            <img src="/images/python-image.png" alt="python-imageサムネイル" class="article__image">
            <h2>目次</h2>
            <nav class="toc">
                <ul>
                    <li><a href="#section0">0.はじめに</a></li>
                    <li><a href="#section1">1.基本概要</a>
                        <ul>
                            <li><a href="#section11">1.1.仮想環境とは</a></li>
                            <li><a href="#section12">1.2.仮想環境のしくみ</a></li>
                            <li><a href="#section13">1.3.仮想環境の種類</a></li>
                        </ul>
                    </li>
                    <li><a href="#section2">2.構築方法</a>
                        <ul>
                            <li><a href="#section21">2.1.macOS</a></li>
                            <li><a href="#section22">2.2.Windows</a></li>
                        </ul>
                    </li>
                    <li><a href="#section3">3.さいごに</a></li>
                </ul>
            </nav>

            <h2 id="section0">はじめに</h2>
            <p>
                Python開発において、仮想環境を構築することはとても重要です。<br>
                仮想環境を利用することで、プロジェクトごとの依存関係を分離し、環境の管理をより適切に行うことができます。<br>
                <br>
                本記事では、初学者向けにPythonの仮想環境について基本から構築方法までまとめました。<br>
                本記事に沿って構築まで行うことで、仮想環境の基本知識とスキルが身につく構成になっていますので、ぜひ最後までご覧ください。<br>
            </p>

            <h2 id="section1">基本概要</h2>
            <h3 id="section11">仮想環境とは</h3>
            <p>
                「仮想環境」と聞くと、少し難しそうな印象を受けるかもしれません。<br>
                でもイメージを掴めれば大丈夫です。<br>
                <br>
                仮想環境とは、１台のPCの中に複数の独立した作業スペースを作る仕組みのことです。<Br>
                例えば、macOSのPCでWindowsを構築するようなことです。<Br>
                これは、Macという物理的な環境の中にWindowsという別の環境を仮想的に構築している状態です。<br>
                <img src="/images/pythonEnv-1-1-02.png" alt="VMWare" class="article__image">
                <br>
                Pythonの仮想環境においても基本的な考え方は同じです。<br>
                なので、Pythonにおける仮想環境とは、さまざまなバージョンのPythonやライブラリなどの環境をプロジェクトごとに１つのPC上で構築することになります。<br>
                <br>
                仮想環境は違いに独立しているため、プロジェクトごとに異なるライブラリを使用することや、チーム開発の差異簡単に環境を統一できるなどのメリットがあります。<Br>
                <br>
                一方で、Pythonには「グローバル環境」と呼ばれるものもあります。<br>
                Pythonをインストールした直後に仮想環境を構築しなかった場合に使用される、PC全体で共有される環境です。<br>
                仮想環境とは違い、ライブラリや設定などをすべてのプロジェクトが共有することになるため、プロジェクト同士が干渉しやすくなります。<br>
                そのため、Pythonの開発では仮想環境の利用が推奨されています。
            </p>

            <h3 id="section12">仮想環境のしくみ</h3>
            <p>
                Pythonの仮想環境は環境変数とディレクトリ構造を使って環境を作り、activateスクリプトにより目的の環境を有効化することで実現しています。<br>
                以下のステップで仮想環境が作られます。<br>
                <br>
                 0.ローカルにPythonをインストール<br>
                仮想環境は、ローカルにインストールされたPython実行ファイルをもとに作成されます。<br>
                このPythonを本記事では「システムPython」と呼びます。
                 <br>
                1.仮想環境ディレクトリの作成<br>
                仮想環境のベースとなるディレクトリを作成すると、その中に独立したPython実行環境とライブラリ群が構築されます。<br>
                <br>
                ディレクトリ構造(macOS)<br>
                <br>
                ポイント<br>
                myenv/bin/pythonにはシステムPytonのコピーまたはリンクが配置されます。<br>
                仮想環境は独立しているように見えますが、実際にはシステムPythonに依存しています。<br>
                <br>
                2.仮想環境の有効化(activate)<br>
                仮想環境を有効かすると、環境変数PATHが書き換えられ、Pythonやpipの実行対象が仮想環境内のものに切り替わります。<br>
                <br>
                PATHの変化<br>
                <br>
                以上がPython仮想環境の仕組みの概要です。<br>
                実際には、こうした仕組みが裏で動いていることで、プロジェクトごとに環境を分離し、安定した開発が可能になります。<br>
                2章では、実際に仮想環境を構築する手順をmacOSとwindowsに分けて紹介します。<Br>
            </p>

            <h3 id="section13">仮想環境ツールの種類</h3>
            <p>
                Pythonの仮想環境を管理するツールにはさまざまな種類があり、プロジェクトの目的や用途に応じて使い分けることが重要です。<Br>
                <br>
                <span class="underline">venv</span><br>
                Python3.3以降に標準搭載されている仮想環境ツールで、公式推奨されています。<br>
                昨日もシンプルで軽量なので、初心者の方におすすめです。<br>
                次章ではこの仮想環境ツールでの構築方法を紹介します。<br>
                <br>
                <span class="underline">virtualenv</span><br>
                venvの全身で、多機能や柔軟性が高いツールです。<br>
                Python2でも使用することができます。<br>
                <br>
                <span class="underline">conda</span><br>
                データサイエンスや機械学習で使用されている環境ツールです。<br>
                Pythonだけでなく、RやCライブラリも管理可能な点や、パッケージ管理と仮想環境管理が一体化しているところが特徴です。<br>
                <br>
                <span class="underline">pipenv</span><br>
                pipとvirtualenvを統合したツールです。<br>
                チーム開発や依存管理が重要な場合に適しています。<br>
                <br>
                <span class="underline">poetry</span><br>
                近年人気が高まっているツールです。<br>
                仮想環境の作成、依存関係の管理、パッケージの公開までを一括で扱えるのが特徴です。<br>
                ライブラリの配布やPyPI公開を視野に入れる開発者におすすめです。
            </p>

            <h2 id="section2">仮想環境構築方法</h2>
            <p>
                この章では、macOSとWindowsそれぞれの仮想環境構築手順をまとめました。
            </p>
            <h3 id="section21">macOSの場合</h3>
            <p>
                1.Pythonがインストールされているか確認<br>
                <div class="code-block">
                <pre><code>python3 --version</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                　　※バージョンが確認できない場合は以下のコマンドでインストールしてください。<br>
                <div class="code-block">
                <pre><code>brew install python</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                <p>2.仮想環境を作成</p><br>
                　　作業ディレクトリに移動後、以下のコマンドを実行<br>
                <div class="code-block">
                <pre><code>python3 -m venv myenv</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                　　※本記事では仮想環境名をmyenvにていますが、自由に設定可能<br>
                <br>
                <p>3.仮想環境の有効化</p><br>
                <div class="code-block">
                <pre><code>source myenv/bin/activate</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                　　有効化するとプロンプトが(myenv)のように変化します。<br>
                <br>
                <p>4.仮想環境の終了</p><br>
                <div class="code-block">
                <pre><code>deactivate</code></pre>
                <button class="copy-btn">copy</button></div>
            </p>

            <h3 id="section22">windowsの場合</h3>
            <p>
                1.Pythonのインストール確認<br>
                <div class="code-block">
                <pre><code>python --version</code></pre>
                <button class="copy-btn">copy</button></div>
                もしくは<br>
                <div class="code-block">
                <pre><code>py --version</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                　　※表示されない場合は公式サイトからインストール<br>
                https://www.python.org/downloads/windows/<br>
                <br>
                <p>2.仮想環境の作成</p><Br>
                <div class="code-block">
                <pre><code>python -m venv myenv</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                <p>3.仮想環境の有効化</p><br>
                <div class="code-block">
                <pre><code>myenv\Scripts\activate</code></pre>
                <button class="copy-btn">copy</button></div>
                <br>
                　　プロンプトが(myenv)のように変化します。<br>
                <br>
                <p>4.仮想環境の終了</p><br>
                <div class="code-block">
                <pre><code>deactivate</code></pre>
                <button class="copy-btn">copy</button></div>
            </p>

            <h2 id="section3">さいごに</h2>
            <p>
                仮想環境の概念や構築方法はPython初学者が最初につまづきやすいポイントです。<br>
                でも少しづつ理解していけば、必ず使いこなせるようになります。<br>
                本記事がそのきっかけになれば幸いです。<br>
                ここまでご覧くださりありがとうございました。
            </p>
        </article>
    </div>
</main>

<footer class="footer">
    <div style="text-align:center">
        <p>© <span id="year"></span> tech-tanQ.</p>
    </div>
</footer>
<script src="/js/darkmode.js"></script>
</body>
</html>