<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>運営者情報</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="header-logo"><a th:href="@{/}" style="text-decoration:none; color:inherit;">テック探求記</a></div>
    ようこそ！一緒にITの世界を探求しましょう！
    <button id="toggle-dark-mode" style="position:fixed; bottom:20px; right:20px; padding:10px 15px; z-index:1000;">
        🌙
    </button>
</header>

<main>
    <div class="article">
        <div class="wrapper">
            <p>2025/10/05</p>
            <h1>【図解】Githubとは</h1>
            <img src="/images/github-image.png" alt="github-imageサムネイル" class="article__image">
            <h2>目次</h2>
            <br>
                <p>0.はじめに</p>
                <p>1.Githubの基本</p>
                <p>　1.1.Githubとは</p>
                <p>　1.2.リポジトリ</p>
                <p>　1.3.用語解説</p>
                <p>2.Githubの操作方法</p>
                <p>　2.1.環境構築</p>
                <p>　2.2.クローン&プル</p>
                <p>　2.3.プッシュ</p>
                <p>　2.4.ブランチ&マージ</p>
                <p>3.Github応用編</p>
                <p>　3.1.IssueとPull Request</p>
                <p>4.まとめ</p>
            <br>

            <h2>はじめに</h2>
                <br>
                <p>本記事は、プログラミングを学び始めた方や経験の浅いエンジニア向けに、GitHubの基本から使い方までを解説します。<br>
                    GitHubは世界中の開発者が利用しているサービスで、ソースコードの管理やチームでの共同開発に欠かせないツールです。<br>
                    この記事を読むことで、「GitHubとは何か？」から始まり、最低限の操作（環境構築、コミット、プッシュ）ができるようになります。さらに応用編では、チーム開発でよく使われるブランチやPull Requestについても触れていきます。<br>
                    初めての方でも安心して読み進められるよう、図を多用してわかりやすく説明しますので、ぜひ一緒に学んでいきましょう！
                </p>

            <h2>Githubの基本</h2>
                <h3>Githubとは</h3>
                    <p>Githubとはソフトウェア開発においてのプラットフォームで主にソースコードの管理に利用されています。
                        　Githubによってファイルの共有や修正、バージョン管理などを容易に行うことができるため複数人での開発のほか個人開発でも利用されています。</p>

                <h3>用語解説</h3>
                <br>

            <h2>2.Githubの操作方法</h2>
                <h3>2.1.環境構築</h3>
                <br>

            <h2>4.さいごに</h2>
            <br>
            <p>Eclipseの概念の理解から実行まで本当にお疲れ様でした！<br>
                Eclipseに限らずITのツールや知識は最初はなんとなくでも手を動かすことで使いこなせるようになっていくので、今後もぜひいろいろな技術にトライしてくださいね！<br>
                その時またここの記事を参考にしてくださると嬉しいです。ここまで読んでくださりありがとうございました！</p>
            <br>
            <br>
        </div>
    </div>
</main>


</div>
<footer class="footer">
    <ul>
        <li><a th:href="@{/about}">運営者情報</a></li>
        <li><a th:href="@{/contact}">お問い合わせ</a></li>
    </ul>
    <p>2025 tech-tanQ</p>
</footer>
<script src="/js/darkmode.js"></script>
</body>
</html>