<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>運営者情報</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="header-logo"><a th:href="@{/}" style="text-decoration:none; color:inherit;">テック探求記</a></div>
    <button id="toggle-dark-mode" style="position:fixed; bottom:20px; right:20px; padding:10px 15px; z-index:1000;">
        🌙
    </button>
</header>

<main>
    <div class="article">
        <div class="wrapper">
            <p>2025/10/05</p>
            <h1>【図解】GitHubとは</h1>
            <img src="/images/github-image.png" alt="github-imageサムネイル" class="article__image">
            <h2>目次</h2>
            <br>
                <p>0.はじめに</p>
                <p>1.基本概要</p>
                <p>　1.1.GitHubとは</p>
                <p>　1.2.リポジトリとは</p>
                <p>　1.3.用語解説</p>
                <p>2.基本操作</p>
                <p>　2.1.環境構築</p>
                <p>　2.2.リポジトリ作成と連携</p>
                <p>　2.3.プッシュ</p>
                <p>3.応用編</p>
                <p>　3.1.クローンとプル</p>
                <p>　3.2.ブランチとマージ</p>
                <p>　3.3.IssueとPull Request</p>
                <p>4.まとめ</p>
            <br>

            <h2>はじめに</h2>
                <br>
                <p>本記事は、プログラミングを学び始めた方や経験の浅いエンジニア向けに、GitHubの基本から使い方までを解説します。<br>
                    GitHubは世界中の開発者が利用しているサービスで、ソースコードの管理やチームでの共同開発に欠かせないツールです。<br>
                    この記事を読むことで、「GitHubとは何か？」から始まり、最低限の操作（環境構築、コミット、プッシュ）ができるようになります。さらに応用編では、チーム開発でよく使われるブランチやPull Requestについても触れていきます。<br>
                    初めての方でも安心して読み進められるよう、図を多用してわかりやすく説明しますので、ぜひ一緒に学んでいきましょう！
                </p>

            <h2>基本概要</h2>
                <h3>Githubとは</h3>
                    <p>Githubは、ソフトウェア開発のためのWebベースのプラットフォームで、ソースコードの管理や共有、バージョン管理を簡単に行うことができます。<br>
                        Gitという分散型バージョン管理システムをベースにしており、チーム開発はもちろん個人開発にも広く利用されています。<br>
                        GitHubを使えば、コードの履歴を追ったり、他の開発者と効率的に連携したり、修正内容をレビューして反映するなど、開発の質とスピードを大きく向上させることができます。<br>
                        現在、GitHubのユーザー数は1億人を超えており、世界中の開発現場で活用されています。<br>
                        プログラミングを生んでいる方やエンジニアを目指す方にとって、GitHubのスキルは必須とも言えるでしょう。
                    </p>

                <h3>リポジトリとは</h3>
                    <p>リポジトリとは、コード、ファイル、各ファイルの改訂履歴を保存、管理する場所のことです。GitHubでは、このリポジトリを使ってプロジェクトの状態を記録し、過去の変更を追跡することができます。<br>
                        <br>
                        リポジトリにはリモートリポジトリとローカルリポジトリの2種類があります。<br>
                        リモートリポジトリとはGitHub上に存在し、複数人の開発者と共同で使用するリポジトリのことです。<br>
                        チーム開発やオープンソースプロジェクトなどで活用されます。<br>
                        <br>
                        ローカルリポジトリとはローカル環境に存在し、個人で作業する際に使用されます。<br>
                        ここで行った変更を後でリモートリポジトリに反映させることができます。<br>
                        <br>
                        GitHubではこの２つのリポジトリを連携することで、チーム開発やバージョン管理を可能にしています。
                    </p>
                <br>

                <h3>用語解説</h3>
                    <p>GitHubを使う上で頻繁に登場する基本用語を初心者向けにわかりやすく解説します。
                        <br>
                        ステージ<br>
                        リモートリポジトリに反映したいファイルを選び、変更を記録する準備をすることを「ステージ」と呼びます。<br>
                        この操作によって、どのファイルを次のコミットに含めるかを指定できます。<br>
                        <br>
                        コミット<br>
                        ステージしたファイルの変更内容を、ローカルリポジトリに保存する操作です。<br>
                        「いつ」「何を変更したか」を記録することで、履歴を追えるようになります。<br>
                        <br>
                        プッシュ<br>
                        ローカルリポジトリに保存された変更をリモートリポジトリに反映させる操作です。<br>
                        これにより、他の開発者と変更内容を共有できます。<br>
                        <br>
                        ブランチ<br>
                        リポジトリに中で、機能追加や修正などを行うために分岐させた作業用の領域です。<br>
                        本流(main)とは別に作業できるため、安全に開発を進められます。<br>
                        <br>
                        クローン<br>
                        リモートリポジトリの内容を、自分のローカル環境にコピーする操作です。<br>
                        これにより、手元で編集や確認ができるようになります。<br>
                        <br>
                        フォーク<br>
                        他人のリモートリポジトリをコピーして、自分のGitHubアカウント常に新しいリモートリポジトリを作成する操作です。<br>
                        オープンソースプロジェクトへの貢献や、独自の改良を加える際に使われます。<br>
                    </p>
                <br>
                <h2>基本操作</h2>
                    <p>この章では、GitHubを使い始めるための環境構築から基本的な操作方法までわかりやすくまとめました。<br>
                    個人開発に必要なスキルが身につく構成になっていますので、ぜひ本章を参考に実際に手を動かしてみてください。<br>
                    </p>
                    <h3>環境構築</h3>
                        <p>・Gitのインストール<br>
                        GitHubはGitに依存しているため、ローカル環境にGitが存在している必要があります。<br>
                            ここでは、OS別にGitのインストール方法を紹介します。<br>
                            <br>
                            macOSの場合<br>
                            1.まずはターミナルを開き、Gitがインストールされているか以下のコマンドで確認してください。<br>
                            　　　git --version<br>
                            　　　バージョンが訪寺されない場合は、以下の手順でインストールしてください。<br>
                            <br>
                            2.homebrewでインストールします。以下のコマンドを実行してください。<br>
                            　　　brew install git<br>
                            <br>
                            3.再度バージョン確認を行い、表示されればインストール完了です。<br>
                            　　　git --version<br>
                            <br>
                            <br>
                            windowsの場合<br>
                            1.以下の公式ページからwindows版Gitをダウンロードしてインストールします。<br>
                            　　　https://git-scm.com/downloads<br>
                            <br>
                            2.インストール後、コマンドプロンプトを開いて以下のコマンドを実行します。<br>
                            　　　git --version<br>
                            　　　バージョン情報が表示されたら成功です。<br>
                            <br>
                            <br>
                            ・GitHubアカウント作成<br>
                            　GitHubを利用するには、アカウントが必要です。<br>
                            　以下のGitHub公式サイトにアクセスし、アカウントを新規作成してください。<br>
                            　URL
                            <br>
                        </p>
                <h3>リポジトリ作成と連携</h3>
                    <p>ここでは、GitHub上のリモートリポジトリと、PC上のローカルリポジトリの作成と連携方法について解説します<br>
                    <br>
                        ・リモートリポジトリの作成<br>
                        GitHubの公式サイトから、GUI操作で簡単に作成できます。<br>
                        <br>
                        1.以下のURLからGitHubにアクセスし、ログインしてください。<br>
                        　URL<Br>
                        <br>
                        2.画面右上の＋ボタンからNew repositoryを選択します。<br>
                        　キャプチャ<br>
                        <br>
                        3.各項目を入力し、create repositoryボタンをクリックします。<br>
                        　キャプチャ<br>
                            <Br>
                        これでリモートリポジトリに作成は環境です。<br>
                        <br>
                        <br>
                        ・ローカルリポジトリの作成<br>
                        ローカルリポジトリは、任意のディレクトリに.gitフォルダを作成することで構築できます。<br>
                        このgitフォルダにはリモートリポジトリとの接続情報や、ファイルの変更履歴などが保存されます。<br>
                        <br>
                        ローカルリポジトリを作成したいディレクトリから以下のコマンドを実行します。」<br>
                         　　　git init<br>
                        <br>
                        以下のコマンドを実行して、.gitフォルダが混在するか確認を行います。<br>
                        　　　ls -a<br>
                        <br>
                        .gitが表示されたらローカルリポジトリの作成は完了です。<br>
                        表示されない場合は再度git initを実行してください。<br>
                        <br>
                        <br>
                        ・リポジトリ同士を繋げる<br>
                        現段階では各リポジトリは独立している状態なので、繋げる必要があります。<br>
                        以下のコマンドを実行します。<br>
                         　git remote add origin https://github.com/ユーザー名/リポジトリ名.git<br>
                        <br>
                        連携が成功したか確認するには以下のコマンドを実行してください。<br>
                        　　　git remote -v<br>
                        <br>
                        下記のように表示されたら成功です。<br>
                        　　　origin https://github.com/ユーザー名/リポジトリ名.git(fetch)<br>
                        　　　origin https://github.com/ユーザー名/リポジトリ名.git(push)<br>
                        <br>
                    </p>
                <h3>プッシュ</h3>
                    <p>前項でリポジトリの作成と連携ができたので、ファイルをプッシュしてみましょう。<br>
                        プッシュするには、ステージ→コミット→プッシュの手順を踏む必要があります。<br>
                        一つ一つ確実に実行していきましょう。<br>
                        <br>
                        1.ステージする<br>
                        　変更や追加したファイルを「次の作業対象」として登録する操作を行います。<br>
                        　.gitが存在するディレクトリから以下のコマンドを実行します。<br>
                        　　　git add .<br>
                        <br>
                        　特定のファイルだけをステージしたい場合は、以下のように指定します。<br>
                        　　　git add ファイル名<br>
                        <br>
                        2.コミットする<br>
                        　ステージしたファイルを「変更履歴」として記録します。<br>
                          以下のコマンドを実行します。メッセージは変更内容がわかるように書くと良いです。<br>
                        　　　git commit -m "first commit"<br>
                        <br>
                        3.プッシュする<br>
                        　以下のコマンドを実行します。<br>
                        　ローカルの変更をGitHub上のリポジトリに反映させます。<br>
                        　　　git push<Br>
                        <br>
                        4.確認する<br>
                        　プッシュが成功したか確認するにはGitHubにアクセスします。<br>
                        　　　公式サイト<br>
                        <br>
                        　自身のアカウント→対象のリポジトリを開いてください。<br>
                        　ファイルが表示されたら成功です。<br>
                        <br>
                        <br>
                        <h2>応用編</h2>
                        <p>この章ではチーム開発が可能なスキルを身につけることができるようまとめました。<br>
                        本章を理解することで初心者から脱却しましょう。<br>
                            <br>
                            <h3>クローンとプル</h3>
                            <p>クローンとプルはチーム開発において必須の知識とスキルです。<br>
                                <br>
                                まずはクローンをおさらいしましょう。<br>
                                クローンはリモートリポジトリの内容を自分のローカル環境にコピーする操作です。<br>
                                リモートリポジトリの内容を丸ごとコピーするので最初の１回だけ行います。<br>
                                <br>
                                プルはリモートリポジトリの最新の変更をローカルに取り入れることです。<br>
                                変更だけなので２回目以降、他の人が更新した時などに行います。<br>
                                <br>
                                それでは実際に操作してみましょう。<br>
                                <br>
                                ・クローン<br>
                                　以下のコマンドを実行しクローンします。<br>
                                　　git clone https://github.com/ユーザー名/リポジトリ名.git<br>
                                　　<br>
                                　クローンが成功したか確認するため以下のコマンドを実行します。<Br>
                                　　ls -a<br>
                                <br>
                                　リポジトリ名と同じ名前のフォルダが作成されていれば成功です。<br>
                                　そのフォルダ内にクローンしたファイル群が入っています。<br>
                                <br>
                                ・プル<Br>
                                　以下のコマンドを実行しプルします。<br>
                                　　git pull origin main<br>
                                　originはリモートリポジトリの名前(通常はorigin)、mainはブランチ名です。<br>
                                <br>
                                 　実行後、以下のようなメッセージが表示されれば成功です。<br>
                                　　　remote:Enumerating objects:...<br>
                                　　　remote:Counting objects:...<br>
                                <br>
                                　　　Updating abc1234..def5678<br>
                                　　　Fast-forward<br>
                                　　　ファイル名｜変更行数<br>
                                <br>
                            </p>
                            <h3>ブランチとマージ</h3>
                                <p>ブランチとマージはチーム開発を安全に行うために重要な技術です。<br>
                                    <br>
                                    まず、ブランチのおさらいをします。<bR>
                                    ブランチとは、リポジトリの中で機能追加や修正などを行うために分岐させた作業用の領域です。<br>
                                    <br>
                                    マージとは、ブランチで分岐させた作業内容をmainブランチなどの本流に統合する操作です。<br>
                                    <br>
                                    ブランチで作業用の領域を作り機能追加などを行った後にマージを行うことで、安全に開発を行うことができます。<br>
                                    <br>
                                    それでは実際の操作を説明します。<br>
                                    ・ブランチ<br>
                                     　以下のコマンドを実行します。<br>
                                    　　　git branch ブランチ名<br>
                                    <br>
                                    　　ブランチができたのか確認するには以下のコマンドを実行します。<br>
                                    　　　git branch<br>
                                    　　　作成したブランチ名が表示されていればブランチの作成は成功です。<br>
                                    <br>
                                    ・マージ<br>
                                    　まず、マージ先のブランチに切り替えます。(例：mainブランチ)<br>
                                    　　　git switch main<br>
                                    <br>
                                    　その後、以下のコマンドを実行して作業ブランチを統合します。<br>
                                    　　　git merge ブランチ名<br>
                                    <br>
                                    　マージが成功すると以下のようなメッセージが表示されます。<br>
                                    　　　Updating abc1234..def5678<br>
                                    　　　Fast-forward<br>
                                    　　　ファイル名｜変更行数<br>
                                    <br>
                                    　または<br>
                                    　　　merge mode by the 'recursibe' strategy.<br>
                                    　　　ファイル名｜変更行数<br>
                                    <br>
                                    　もし以下のメッセージが表示される場合はコンフリクトが起きています。<br>
                                    　　　Auto-merging ファイル名<br>
                                    　　　CONFLICT(content):Merge conflict in ファイル名<br>
                                    <br>
                                    　コンフリクトとは、両方のブランチで同じファイルが返納されていた場合、GItがどちらの変更を適用するのか判断できず、マージできないことです。<br>
                                    　例えば、mainブランチをfeatureブランチの両方でexample.htmlの同じ行を編集した場合、Gitはどちらを採用すべきか判断できず、コンフリクトが発生します。<br>
                                    　この場合は、手動でファイルを修正し、以下のコマンドで完了させます。<br>
                                    　　　git add ファイル名<br>
                                    　　　git commit<br>
                                    <br>
                                    　コンフリクトが起きた時点で、Gitはマージプロセスを一時停止の状態になっています。<br>
                                    　修正後にコミットするだけでGitはマージが完了したと認識するため、再度git merggeを実行する必要はありません。<br>
                                    <br>
                                    <br>
                                    <h3>IssueとPull Request</h3>
                                        <p>
                                            IssueとPull Requestを使いこなせれば、効率よくチーム開発を行うことができます。<br>
                                            <br>
                                            Issueとは、例えば「ログイン画面でエラーが出る」「検索機能を追加したい」といった課題や提案を記録・共有するための機能です。<br>
                                            チーム開発のコミュニケーションやタスク管理に役立ちます。<br>
                                            <br>
                                            一方でPull Requestとは、Issueの対応を実装した成果物です。<br>
                                            業務でチーム開発を行う際はIssueで課題やタスクなどを共有し、その成果物をPull Requestで報告する流れが一般的です。<br>
                                            Pull Requestされた成果物はレビューされ、問題なければマージされます。<br>
                                            このように、IssueとPull Requestはチーム開発においてより円滑にするために使用されます。<br>
                                            <br>
                                            実際の操作を行ってみましょう。<br>
                                            ・Issue<br>
                                            　GitHub公式サイトからアカウントにログインし、リモートリポジトリにアクセスします。<br>
                                            　　　公式サイト<br>
                                            <br>
                                            　画面上部のIssuesタブを選択し、New issueボタンをクリックします。<br>
                                            　　　画面キャプ<br>
                                            <br>
                                            　タイトルとコメントを入力しSubmit new Issueボタンをクリックします。<br>
                                            　　　画面キャプ<br>
                                            　　　これでIssueの登録は完了です。<br>
                                            <br>
                                            ・Pull Request<br>
                                            　GitHub公式サイトからアカウントにログインし、リモートリポジトリにアクセスします。<br>
                                            　　公式<br>
                                            <br>
                                             画面上部の「Pull requests」タブを選択し「New pull request」ボタンをクリックします。<br>
                                            　　画面<Br>
                                            <br>
                                            　「Create pull Request」ボタンをクリックします。<br>
                                            　　画面<br>
                                            <br>
                                            　必要な項目を入力し「Create pull Request」ボタンをクリックします。<br>
                                            　　画面<br>
                                            <br>
                                            これでPull Requestの完了です。<br>
                                            <br>
                                            <br>
                                       <h2>まとめ</h2>
                                            <p>
                                                <br>
                                                本記事では、GitHubの基本概念から具体的な操作方法、そしてチーム開発に欠かせない応用機能までを一通り学びました。<br>
                                                これらの知識は、個人開発にもチーム開発にも役立つ強力な武器になります。<br>
                                                ぜひ、実際のプロジェクトに￥で活用しながら、GitHubの操作に慣れていってください。<br>

                                                <br>
                                            </p>
                                        </p>
                                </p>
                        </p>
                    </p>
        </div>
    </div>
</main>


</div>
<footer class="footer">
    <ul>
        <li><a th:href="@{/about}">運営者情報</a></li>
        <li><a th:href="@{/contact}">お問い合わせ</a></li>
    </ul>
    <p>2025 tech-tanQ</p>
</footer>
<script src="/js/darkmode.js"></script>
</body>
</html>