<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thankyou</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-logo"><a th:href="@{/}" class="logo-link">テック探求記</a></div>
    <nav>
        <ul class="header-ul" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
            <li class="header-li">
                <button id="toggle-dark-mode" style="padding: 8px 12px; border: none; background: none; cursor: pointer; font-size: 18px;">
                    🌙
                </button>
            </li>
            <li class="header-li"><a th:href="@{/}">ホーム</a></li>
            <li class="header-li"><a th:href="@{/about}">プロフィール</a></li>
            <li class="header-li"><a th:href="@{/contact}">お問い合わせ</a></li>
            <li class="header-li">
                <form action="/search" method="get" style="display: flex; align-items: center;">
                    <input type="search" name="q" placeholder="サイト内検索">
                    <button type="submit">検索</button>
                </form>
            </li>
        </ul>

    </nav>

</header>
<div class="wrapper">
    <main>
        <h1>success</h1>
        <br>
        <p>お問い合わせありがとうございました！</p>
        <P>問い合わせ内容を確認いただくため、自動返信メールをお送りしました。<br>
            ご登録いただいたメールアドレスをご確認ください。</P>
    </main>
</div>
<footer class="footer">
    <div style="text-align:center">
        <p>© 2025 tech-tanQ.</p>
    </div>
</footer>
<script src="/js/darkmode.js"></script>
</body>
</html>
